/* GABRIEL: My list of gradients */

background-color: #ff964a;
background-image: linear-gradient(180deg, #ff964a 0%, #d049e7 62%, #360caf 100%);

background-color: #ff7417;
background-image: linear-gradient(180deg, #ff7417 0%, #c21ed4 62%, #5e25ff 100%);


background-color: #ff791b;
background-image: linear-gradient(180deg, #ff791b 0%, #d049e7 62%, #360caf 100%);
